# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/
*.env
.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.manifest
*.spec

# PyInstaller
#  Usually these files are written by a python script from a template
#  (e.g. by pynsist):
#   src/cx_Freeze/samples/PyInstaller/build_exe.py
#   src/cx_Freeze/samples/PyInstaller/build_exe.spec
build/
dist/
*.spec

# Django stuff:
*.log
*.pot
local_settings.py
/static/*
!static/.gitkeep
/media/*
!media/.gitkeep

# System files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Test and coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
*.sqlite3